[project]
name = "memory"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "pydantic>=2.12.5",
    "fastapi>=0.110.0",
    "uvicorn[standard]>=0.29.0",
]
